* {
    border: 1px solid rebeccapurple;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    color: #22283a;
    background-color: #e2d7ce;
}

h2 {
    color: #feae02;
    background-color: #8e1b11;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #8e1b11;
    background-color: #feae02;
    font-size: 24px;
    font-style: italic;
}

p {
    margin: 6px;
}

ul {
    margin: 6px 6px 6px 24px;
}

li {
    margin: 3px;
}

.header {
    display: flex;
    font-style: oblique;
}

.header * {
    flex: auto;
}

.title {
    width: calc(100%-144px);
    text-align: center;
}

.spacer {
    width: 144px;
}

#overview {
    font-size: 18px;
}
